validation_workspace/
validation_ws/
fix_activemq_build.py/
venv/
.venv/
*.pyc
.venv/
bugportal/.venv/
__pycache__/
*.pyc
*.db
bug_classification/parsed_data.jsonl
bug_classification/classified_data_llm.jsonl
framework/cache/
