{% extends "base.html" %}

{% block title %}ExplainedRealBugs - Projects{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="mb-4">All Projects</h1>
        <div class="list-group">
            {% for p in projects %}
            <a href="bugs/{{ p }}/index.html" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                {{ p }}
                <span class="badge bg-primary rounded-pill">View Bugs</span>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
